{% extends "typingSprint/base.html" %}
{% block content %}
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Rank</th>
        <th scope="col">Name</th>
        <th scope="col">Year & Section</th>
        <th scope="col">Net Speed(WPM)</th>
        <th scope="col">Transaction</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
            <tr>
                <th scope="row">{{ object.id }}</th>
                <td>{{ object.name }}</td>
                <td>{{ object.section }}</td>
                <td>{{ object.speed_score }}</td>
                <td>
                    {% if user.is_authenticated and user.profile.is_typing_staff %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'typingSprint-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'typingSprint-delete' object.id %}">Delete</a>
                    </div>
                    {% endif %}
                </td>
            </tr>
        
        
    </tbody>
    </table>
    
{% endblock %}